/* Style for resizable handles */
.handle-n, .handle-s, .handle-e, .handle-w {
    position: absolute;
    background-color: transparent;
}

.handle-n {
    top: -2px;
    left: 0;
    right: 0;
    height: 5px;
    cursor: ns-resize;
}

.handle-s {
    bottom: -2px;
    left: 0;
    right: 0;
    height: 5px;
    cursor: ns-resize;
}

.handle-e {
    top: 0;
    bottom: 0;
    right: -2px;
    width: 5px;
    cursor: ew-resize;
}

.handle-w {
    top: 0;
    bottom: 0;
    left: -2px;
    width: 5px;
    cursor: ew-resize;
}

.handle-ne, .handle-nw, .handle-se, .handle-sw {
    position: absolute;
    background-color: transparent;
    width: 10px;
    height: 10px;
}

.handle-ne {
    top: -2px;
    right: -2px;
    cursor: nesw-resize;
}

.handle-nw {
    top: -2px;
    left: -2px;
    cursor: nwse-resize;
}

.handle-se {
    bottom: -2px;
    right: -2px;
    cursor: nwse-resize;
}

.handle-sw {
    bottom: -2px;
    left: -2px;
    cursor: nesw-resize;
}
