@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  line {
    stroke-dasharray: 10000;
    stroke-dashoffset: 1000;
    /* Add a subtle glow effect */
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 1));
  }

  line:hover{
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.2));
  }

  .Skill:hover{
    opacity: 0.5;
  }
  
  @keyframes drawLine {
    0% {
        opacity: 0;
      stroke-dasharray: 0, 100;
      width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
      stroke-dasharray: 100, 0;
    }
  }
  